boto3
python-dotenv
huggingface-hub
ipykernel
ipywidgets
litellm
requests
numpy
pandas
scipy
scikit-learn
matplotlib
torch
transformers
tqdm
openai
openai-agents
groq
gradio
datasets==3.6.0
fsspec==2024.12.0
matplotlib
pydantic
plotly
nbformat
